{% extends "base.html" %}

{% block content %}

    <html>
    <head></head>
    <body>
  <br>  <h1 align="center" style="font-size: 40px">Welcome to Essay Grading System</h1> <br>

  <img src="{{ url_for('static', filename="people_photo/essay_grade.jpg")}}" style="height: 400px;alignment: center;margin-left: 240px "> <br>


<br>
  <p style="font-size: 15px"> Essays are paramount for of assessing the academic excellence along with linking the different ideas with the ability to recall but are notably time consuming when they are assessed manually. Manual grading takes significant amount of evaluator's time and hence it is an expensive process. Automated grading if proven effective will not only reduce the time for assessment but comparing it with human scores will also make the score realistic. Automated Essay Grading is an application of natural language processing. Its objective is to classify a large set of textual entities into a small number of discrete categories.</p>
 <br>


    </body>

    </html>

{% endblock %}